.inputContainer {
	position: relative;
	isolation: isolate;
	max-height: 400px;
	min-height: var(--min-height);
	--min-height: 55px;
	overflow: hidden;
}

.input {
	max-height: 160px;
	min-height: var(--min-height);
	height: 55px;
	padding: calc((var(--min-height) - 1lh) / 2) 12px;
	font: inherit;
	color: #333;
	z-index: 2;
	unicode-bidi: plaintext;
	overflow: auto;
}

.input::placeholder {
	color: #999;
	opacity: 0.7;
}

.autocomplete {
	position: absolute;
	inset: 0px;
	z-index: 1;
	display: flex;
	overflow: hidden;
	pointer-events: none;
	user-select: none;
}

.autocomplete .content {
	flex: 1;
	flex-shrink: 0;
	font: inherit;
	padding: calc((var(--min-height) - 1lh) / 2) 12px;
	text-align: initial;
	unicode-bidi: plaintext;
	overflow: hidden;
	opacity: 0.36;
	mask: linear-gradient(to top, rgb(0 0 0 / 16%), black 24px);
}

.autocomplete .content.hide {
	opacity: 0;
}

.autocomplete .content .currentText {
	opacity: 0;
	display: inline;
	white-space: pre-wrap;
	word-break: break-word;
	unicode-bidi: normal;
}

.autocomplete .content .completion {
	display: inline;
	white-space: pre-wrap;
	word-break: break-word;
	unicode-bidi: normal;
}

.autocomplete .content .pressTab {
	display: inline-block;
	margin: -1px 8px;
	opacity: 0.8;
	border: solid 1px rgba(0, 0, 0, 0.2);
	border-bottom-width: 2px;
	border-radius: 4px;
	padding: 0.1em 0.4em;
	font-size: 0.8em;
	vertical-align: top;
}
